body {
  font-family: 'Lato';
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /*background: -webkit-gradient(linear, left bottom, left top, from(#82c2a8), to(#cae3f2));
  background: linear-gradient(0deg, #82c2a8 0%, #cae3f2, 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;*/ // blue - green

  background: -webkit-gradient(linear, left bottom, left top, from(#e0760f), to(#e3a130));
  background: linear-gradient(0deg, #e0760f 0%, #e3a130 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

main {
  flex: 1;
}

footer {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.social-links {
  float:right;
  display: inline-block;
}

.social-link {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: inline-block;
  text-align: center;
  width: 45px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 60%;
  background-color: #e39d2d;
  color: white;
}

.social-link:hover {
  cursor: pointer;
  background-color: #8d5821;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.nav-mobile {
  display: inline-block;
  padding-left: 30px;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #d57e56;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}

.navbar-custom .navbar-brand {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.nav-link-off:hover {
  color: rgba(255,255,255,.5);
}

.navbar-dark .navbar-nav .nav-link {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.75);
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-item .nav-link:focus {
  outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
  position: absolute;
  margin-left: 0.75rem;
  top: 0.3rem;
  font-weight: 400;
  font-size: 0.5rem;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #e9e9e9;

}

.dropdown-item {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header.head {
  position: relative;
  overflow: hidden;
  padding-top: calc(6rem);
  margin: 0 auto;

}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;

}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn {
  transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out;
}

.btn-primary {
  background-color: #ee4a09;
  border-color: #ee4a09;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd4719 !important;
  border-color: #b45a37 !important;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19) !important;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.rounded-circle {
  border-radius: 10% !important;
}

.centered {
  display:block;
  margin: 0 auto;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #d57e56;
  border-color: #b97251;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

.title {
  color: white;
  margin-left: -15px;
  margin-bottom: 15px;
}

table {
  display: table;
  position: relative;
  width: 100%;
  table-layout: auto;
}

table.table td a.add {
  color: #27C46B;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #E34724;
}

.card-shadow {
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

.footer-part {
  margin-bottom: 15px;
}

.form-control {
  padding: 3px;
}

@media (max-width: 991px) {
  .list-group {
    padding-left: 15px;
    padding-bottom: 25px;
  }
  .title {
    text-align: center;
  }
  .social-links {
    float:none;
    display: inline-block;
  }
  .footer-part {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .nav-mobile {
    display: none;
  }
}
@media (min-width: 992px) {
  .nav-mobile {
    display: none;
  }
  header.head {
    padding-top: calc(7rem);
  }
  header.masthead {
    padding-top: calc(10rem);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}
