a.ms_link:hover,
a.ms_link:visited,
a.ms_link:link,
a.ms_link:active,
a.ms_link {
    text-decoration: none;
    display: block;
    color: black;
}
a.attachment_link:hover,
a.attachment_link:visited,
a.attachment_link:link,
a.attachment_link:active,
a.attachment_link {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

div.ms_container {
    flex-wrap: nowrap;
    margin: 0;
    height: 30pt;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

hr.ms_divider {
    margin-top: 0;
    margin-bottom: 0;
}

div.ms_preview,
div.ms_date,
div.ms_sender,
div.ms_receivers,
div.ms_title {
    overflow: hidden;
    display: inline-block;
    margin-left: 10pt;
    margin-right: 10pt;
}

div.ms_preview {
    flex-basis: 30%;
    -webkit-flex-basis: 30%;
    color: darkgrey;
}

div.ms_sender {
    flex-basis: 15%;
    -webkit-flex-basis: 15%;
}

div.ms_title,
div.ms_receivers {
    flex-basis: 20%;
    -webkit-flex-basis: 20%;
}

div.ms_date {
    flex-basis: fit-content;
    flex-basis: -moz-fit-content;
    color: grey;
    font-size: small;
}

a.ms_link:nth-of-type(even) {
    /*background: #fae5d0;*/
}

div.ms_container:hover {
    background: #ffc690;
    cursor: pointer;
}

div.unread_ms {
    background: #fae5d0;
}

div.unread_ms > .ms_sender,
div.unread_ms > .ms_title {
    font-weight: 900;
}

div.ms_display_sender_row,
div.ms_display_date_row,
div.ms_display_receivers_row,
div.ms_display_attachments_row {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    align-items: baseline;
    -webkit-align-items: baseline;
}

div.attachments_container {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

span.ms_display_sender_lbl,
span.ms_display_date_lbl,
span.ms_display_receivers_lbl,
span.ms_display_attachments_lbl{
    flex-basis: 15%;
    color: grey;
}

div.ms_display {
    margin-top: 10pt;
}

/* Start of Styling for Custom Upload Button */

img.attachment_icon {
    width: 10%;
    height: 10%;
}

span.ms_display_attachment {
    width:200px;
    background-color:#FECD57;
    border:3px solid #FECD57;
    border-radius:4px;
    padding:10px;
    margin:10px 5px;

    font-size:12px;
    font-weight:bold;
    color:#333333;
    white-space:nowrap;
    display:block;
    text-align:center
}

span.ms_display_attachment:hover {
    background-color:white;
}

input#form_attachments,
input#form_pictures{
    display: none;
}

img.upload_icon {
    width: 10%;
    height: 10%;
}

.custom-file-upload {
    width:200px;
    background-color:#FECD57;
    border:3px solid #FECD57;
    border-radius:4px;
    padding:10px;

    font-size:12px;
    font-weight:bold;
    color:#333333;
    white-space:nowrap;
    display:block;
    text-align:center;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color:white;
}

/* End of Styling for Custom Upload Button */

/* Start of Table Styling */

table {
    table-layout: fixed;
}

/* End of Table Styling */

/* Enrollments Styling */

i.copy_code {
    cursor: pointer;
}