{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}
{% block body %}
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Every sunrise,</h1>
                <h2 class="masthead-subheading mb-0">with care and love.</h2>
                <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Register your child</a>
            </div>
        </div>
    </header>
{% endblock %}